@media screen and (min-width: 769px){
  .group-list .performer-item {
    width: 240px;
    height: 240px;
    display: inline-block;
    *display:inline;
    *zoom:1;
    margin-top:20px;
    position: relative;
    overflow: hidden;
  }
  .group-list .performer-item img{
    height: 240px;
  }
  .performer-info{
    position: absolute;
    background: rgba(51,51,51,0.8);
    bottom: 0;
    width: 100%;
    left: 0;
    color: #fff;
    text-align: center;
    padding: 12px 0;
    font-size: 16px;
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.165,.84,.44,1);
    -moz-transition: -moz-transform .3s cubic-bezier(0.165,.84,.44,1);
    -o-transition: -o-transform .3s cubic-bezier(0.165,.84,.44,1);
    transition: transform .3s cubic-bezier(0.165,.84,.44,1);
  }
  .performer-title i{
    display: inline-block;
    *display:inline;
    *zoom:1;
    width:30px;
    height:30px;
    background:url("../img/bg.png") no-repeat;
    vertical-align: middle;
    margin-right:5px;
  }
  .performer-title .i-bd{
    background-position: -219px -357px;
  }
  .performer-title .i-service{
    background-position: -174px -356px;
  }
  .performer-title .i-join{
    background-position: -268px -356px;
  }

  .p-info-more{
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background: rgba(237, 28, 36, 0.80);
    color:#fff;
    text-align: center;
    -webkit-transform: translate3d(0px,-100%,0);
    -moz-transform: translate3d(0px,-100%,0);
    transform: translate3d(0px,-100%,0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.55,.055,.675,.19);
    -moz-transition: -moz-transform .3s cubic-bezier(0.55,.055,.675,.19);
    -o-transition: -o-transform .3s cubic-bezier(0.55,.055,.675,.19);
    transition: transform .3s cubic-bezier(0.55,.055,.675,.19);
  }
  .group-list .performer-item:hover .p-info-more{
    -webkit-transform: translate3d(0px,0,0);
    -moz-transform: translate3d(0px,0,0);
    transform: translate3d(0px,0,0);
    -webkit-transition: -webkit-transform .3s cubic-bezier(0.165,.84,.44,1);
    -moz-transition: -moz-transform .3s cubic-bezier(0.165,.84,.44,1);
    -o-transition: -o-transform .3s cubic-bezier(0.165,.84,.44,1);
    transition: transform .3s cubic-bezier(0.165,.84,.44,1);
  }

  .group-list .performer-item:hover .performer-info{
    -webkit-transform: translate3d(0px,100%,0);
    -moz-transform: translate3d(0px,100%,0);
    transform: translate3d(0px,100%,0);
    -webkit-transition: -webkit-transform .2s cubic-bezier(0.55,.055,.675,.19);
    -moz-transition: -moz-transform .2s cubic-bezier(0.55,.055,.675,.19);
    -o-transition: -o-transform .2s cubic-bezier(0.55,.055,.675,.19);
    transition: transform .2s cubic-bezier(0.55,.055,.675,.19);
  }

  .p-name{
    font-size: 18px;
    margin-top:60px;
  }
  .p-type{
    margin-top:10px;
    max-height: 72px;
    overflow: hidden;
    line-height: 18px;
    padding:0 10px;
  }
  .p-links{
    margin-top:20px;
  }
  .p-links a{
    width: 46px;
    height: 46px;
    display: inline-block;
    *zoom:1;
    position: relative;
  }
  .p-links a i{
    position: absolute;
    width: 100%;
    height:100%;
    left:0;
    top:0;
    background:url("../img/bg.png") no-repeat;
    -webkit-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
  .p-links .p-wb{
    margin-right:10px;
  }
  .p-links a:hover i{
    transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
  }
  .p-links .p-wb i{
    background-position:-359px -349px;
  }
  .p-links .p-st i{
    background-position:-433px -349px;
  }
}
@media screen and (max-width: 769px) {

}